/*STYLES GENERAUX*/
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;

}

p {
    font-size: 1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
}

nav {
    background: #0e76a8;
    height: 40px;
    width: 100%;
    position: fixed;
}


nav ul {
    float: right;
    margin-right: 20px;
    text-align: center;
    z-index: 9999;
}

nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover {
    background: rgb(208, 36, 36);
    transition: 0.8s;
}



.nav-toggle {
    display: none;
    margin-left: 50%;
    margin-top: 10px;
  }
  
  .nav-toggle span {
    display: block;
    height: 3px;
    width: 25px;
    margin-bottom: 5px;
    background-color: #fff;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu li {
    margin: 0 10px;
  }
  
  .nav-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  @media screen and (max-width: 1040px) {
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
    
    .nav-menu {
        transition: 5s;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #0e76a8;
      padding: 10px;
    }
    
    .nav-menu li {
      margin: 10px 0;
    }
    
    .nav-menu a {
      font-size: 1.2rem;
    }
    
    .nav-menu.active {
      display: flex;
      flex-direction: column;
    }
  }
  



/*-----------*/
/*HEADER & FOOTER*/
footer {
    background-image: url("../image/illustration.jpg");
    background-size: cover;
    position: sticky;
}


.titre {
    width: 100%;
    height: 100vh;
    background-image: url(../image/pc.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    justify-content: center; /* Centre les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte */
    white-space: normal; /* Permet de revenir à la ligne */
}

.titre h1,
.titre h2 {
    margin: 30; /* Retire les marges par défaut */
    color: white; /* Couleur du texte */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombre noire légère */
}

.titre h1 {
    font-size: 5em;
    text-transform: uppercase;
    word-spacing: 5px;
    text-align: center;
    letter-spacing: 2px;
}


.titre h2 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width: 480px) { 
    .titre h1 { 
        font-size: 3em; 
    }

    .titre h2 { 
        font-size: 2em; 
    } 
}

/* fleche vers le bas qui bouge incitant à me découvrir */
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.scroll-down i {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


footer {
    height: 100px;
}

footer p {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}


header nav {
    z-index: 99;
}

/*--------/*

/*SECTIONS*/
section {
    padding: 10px 0 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    background-color: rgb(255, 255, 255);
}

/* une section sur 2 sera plus foncé */
section:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

section h2 {
    text-align: center;
    margin: 20px 0;
    width: 90%;
    text-transform: uppercase;
}


section>div {
    width: 90%;
}

.intro p{
    text-align: center;
}

/*--------------------/*
/*SECTION INFOS*/
.photo {
    text-align: center;
    flex: 30%;
}

.photo img {
    width: auto;
    height: 200px;
}

/*boutton du cv*/
.download a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 10px auto;
    color: #fff;
    background-color: #0e76a8;
    box-shadow: 0px 0px 1px #ccc;
    border-radius: 2px;
}


.presentation {
    text-align: justify;
    border-bottom: none;
    margin-left: 0%;
    flex: 70%;
}


.presentation p {
    margin: 10px 100px 10px 0px;
}


@media only screen and (max-width: 552px) {
    .presentation p {
        margin: 10px 30px 10px 30px;
    }
}

/*SECTION EXP ET FORMATION*/
.exp {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.exp-info {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 90%;
    margin-left: auto;
}


/* PETIT ECRAN PLUS D'ESPACE ENTRE LOGO ET TEXTE*/
@media only screen and (max-width: 1000px) {
    .exp-info {
        flex: 0 0 70%;
    }
}


.exp-info p {
    font-size: small;
}

.exp-logo img {
    max-width: 80px;
    max-height: 200px;
}

.exp h3 {
    font-size: 1.2em;
}

.exp h4 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

/*SECTION COMPETENCES*/


#competences p {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10 30 20 30;
}



/*SECTION INTERETS*/
.activite {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
    font-size: small;
    width: 200px;
}

.activite img {
    width: 90px;
    height: 80px;
    border-radius: 0%;
    box-shadow: 0px 0px 3px #555;
}


.wrapper{
    overflow: hidden;
}

.wrapper img{
 /*   width: 100%;
    height: 100%;*/
    transition: scale 400ms;
}

.wrapper:hover img{
    scale: 120%;
}


/* PROJETS */

.projets {
    /*parent*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projet {
    /*chaque enfants = chaque carte*/
    margin: 10px;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    height: 300px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    border-radius: 10px;
    background-color: rgb(126, 173, 50);
    color: white;
}

.projet div {
    color: white;
    text-decoration: underline;
}

.projet:hover {
    transform: translateY(-7px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.projet h3 {
    text-align: center;
    font-weight: 600;
    padding: 5%;
}

.projet p {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}


.projet img {
    width: 100%;
    height: 200px;
}


.popup {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color:rgba(0,0,0,.5);
	z-index: 1;
	backdrop-filter: blur(3px);
    overflow: auto;
}
.popup.visible {
	display: block;
	animation: slideUp .4s cubic-bezier(0.165, 0.84, 0.44, 1), fadeIn .3s cubic-bezier(0.19, 1, 0.22, 1);
	animation-fill-mode: both;
}
.popup .popupContent {
    top: 10%;
	margin: 0 auto;
	background: white;
	border-radius: 4px;
	color: black;
	margin: 0 50px;
	position: relative;
	padding: 10px 20px 20px;
}
.popup .closeButton {
	position: absolute;
	right: 50px;
	top: 30px;
	padding: 10px;
	border-style: outset;
}




.projet>* {
    flex: 1 1 160px;
}



.soustitre{
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #133eda;
    text-decoration: underline;
}

.objectif{
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #133eda;
}




.contact p {
    text-align: center;
}


.reseau {
    /*L'ensemble des boutons*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.reseau img {
    margin-right: 1cm;
    height: 50px;
}



.boutonReseau {
    /*Chaque bouton*/
    margin: 20px;
    padding: 35px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 250px;
    height: auto;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    border-radius: 100px;
    background-color: rgb(126, 173, 50);
    color: white;

    padding: 1.25rem 2.5rem;

    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 200;

    background-color: #0e76a8;

}


.boutonReseau:hover {
    background-color: #0f89c2;
}

.boutonReseau:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}


body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#arrowTop {
    content: url(../image/fleche.png);
    opacity: 0.5;
    position: fixed;
    top: 94%;
    left: 98%;
    cursor: pointer;
    height: 25px;
    
}

@media (max-width: 800px) {
    #arrowTop {
        top: 94%;
        left: 92%;
    }
}


.labo{
    text-align: center;
}


/* Animation du texte en fondu */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 2s ease-in-out;
}


.competences {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.competence img {
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #555;
}


.emoji {
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
    transition: transform 0.3s ease;
    animation: wave 2s normal;
}

@keyframes wave {
    0% { transform: rotate(0deg) translateY(0); }
    25% { transform: rotate(20deg) translateY(-10px); }
    50% { transform: rotate(0deg) translateY(0); }
    75% { transform: rotate(20deg) translateY(-10px); }
    100% { transform: rotate(0deg) translateY(0); }
}

.emoji.animate {
    animation: wave 1s infinite;
}


/* animation des mots clés d'intro de présentation */
.fade-in-out {
    animation: erase 4s ease-in-out infinite;
    white-space: normal;
}

@keyframes erase {
    0% {
        clip-path: inset(0 100% 0 0);
        opacity: 1;
    }
    40% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    60% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    100% {
        clip-path: inset(0 100% 0 0);
        opacity: 1;
    }
}